-Daether.connector.http.retryHandler.count=8
-Daether.connector.http.retryHandler.interval=10000
-Daether.connector.http.retryHandler.intervalMax=120000
-Daether.connector.http.retryHandler.serviceUnavailable=429,503
-Daether.transport.http.retryHandler.count=8
-Daether.transport.http.retryHandler.interval=10000
-Daether.transport.http.retryHandler.intervalMax=120000
-Daether.transport.http.retryHandler.serviceUnavailable=429,503
